* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: #1C1C1C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #092327;
    height: auto;
    width: 550px;
}

#header {
    background: #90C2E7;
    width: auto;
    height: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
    text-shadow: 0 0 20px #0B5351;
}

#digital-number {
    color: #00A9A5;
    min-width: 20px;
    width: 2ch;
    height: 83px;
    padding: 8px 16px;
    margin-bottom: 26px;
    font-size: 58px;
    font-weight: bold;
    border: 2px solid #4E8098;
    border-radius: 6px;
    background: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 0 5px #00A9A5;
}

#convert-btn {
    font-size: 16px;
    width: auto;
    padding: 8px 26px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 10px #0B5351;
    transition: 0.3s ease-in-out;
}

#convert-btn:hover {
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 36px #0B5351;
    background: #00A9A5;
}

#botton {
    padding: 20px 10px;
}

.result-tab {
    background: #0B5351;
    margin: 20px;
    height: auto;
    width: auto;
    padding: 20px;
}

h3 {
    color: #00A9A5;
    margin-bottom: 16px;
}